@import "_variables.scss";

.fade,
.fade:link,
.fade:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: color(pink);
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  transition: all 0.3s;
  position: relative;
  color: #fff;
}
.fade-pink {
  background-color: color(pink);
  color: #fff;
}
.fade-pink::after {
  background-color: color(pink);
  color: #fff;
}

.fade {
  opacity: 0.55;
}
.fade:hover {
  opacity: 1;
}
