@import "./variables";
.manhwa-parent {
  width: 60rem;
  height: 40rem;
}

.manhwa-photo {
  position: 
  height: 20rem;
  box-shadow: rgba(0, 0, 0, 0.4);

  transition: 0.3s;
  margin: 3rem;
  top: 10rem;
  left: 15%;
}
.manhwa-photo:hover {
  transform: scale(1.3);
  box-shadow: 0.3rem 1rem rgba(0, 0, 0, 0.4);
  outline: 1rem solid color(pink);
  z-index: 2;
}
