@import "./variables";
.shoujo {
  height: 30rem;
  position: relative;
}
.shoujo-pic {
  height: 30rem;
  clip-path: circle();
  transition: all 0.3s;
}
.shoujo-header {
  font-size: 3rem;
  opacity: 0;
  color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  text-transform: uppercase;
}

.shoujo:hover .shoujo-pic {
  filter: grayscale(90%);
}
.shoujo:hover .shoujo-header {
  opacity: 1;
  top: 50%;
}
