html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: #f8bbd0;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn-pink {
  background-color: #f8bbd0;
  color: #fff;
}

.btn-pink::after {
  background-color: #f8bbd0;
  color: #fff;
}

.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.6);
}

.btn::after {
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
}

.btn:active {
  -webkit-transform: scaleX(1.2) scaleY(1.3);
          transform: scaleX(1.2) scaleY(1.3);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dog {
  height: 20rem;
  -webkit-transition: all 0.3%;
  transition: all 0.3%;
  border-radius: 50%;
}

.dog:hover {
  border-radius: 0;
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fade,
.fade:link,
.fade:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: #f8bbd0;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  color: #fff;
}

.fade-pink {
  background-color: #f8bbd0;
  color: #fff;
}

.fade-pink::after {
  background-color: #f8bbd0;
  color: #fff;
}

.fade {
  opacity: 0.55;
}

.fade:hover {
  opacity: 1;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.manhwa-parent {
  width: 60rem;
  height: 40rem;
}

.manhwa-photo {
  height: 20rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4);
          box-shadow: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 3rem;
  top: 10rem;
  left: 15%;
}

.manhwa-photo:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: 0.3rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.3rem 1rem rgba(0, 0, 0, 0.4);
  outline: 1rem solid #f8bbd0;
  z-index: 2;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.shoujo {
  height: 30rem;
  position: relative;
}

.shoujo-pic {
  height: 30rem;
  -webkit-clip-path: circle();
          clip-path: circle();
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.shoujo-header {
  font-size: 3rem;
  opacity: 0;
  color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
}

.shoujo:hover .shoujo-pic {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
}

.shoujo:hover .shoujo-header {
  opacity: 1;
  top: 50%;
}

.container {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */